{% extends "base.html.twig" %}
{% block stylesheets %}
<style>
    #contact-img {
        background-image: url('{{ asset("/images/image-static/noon.jpg")}}');
        height: 450px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        width: 100%;
        position: relative;
    }

    #contact-header {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        height: 100%;
        width: 100%;
    }

    #contact-header div div h2 {
        color: white;
    }
</style>
{% endblock %}
{% block body %}
<div id="contact-img">
    <div id="contact-header">
        <div class="d-flex align-items-center h-100">
            <div class="container">
                <h2 class="d-inline-flex bg-black text-warning p-2">CONTACT US</h2>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h3 class="text-orange">GET IN TOUCH</h3>
            <p>For general enquiries, bookings or an obligation-free quote, You can contact us via phone, email or leave
                us
                a message below.</p>
            {{ form_start(form) }}
            <div class="mt-2">
                {{ form_label(form.name)}}
                {{ form_widget(form.name,{'attr':{'class': 'ht-input'}})}}
            </div>
            <div class="mt-2">
                {{ form_label(form.email)}}
                {{ form_widget(form.email,{'attr':{'class': 'ht-input'}})}}
            </div>
            <div class="mt-2">
                {{ form_label(form.subject)}}
                {{ form_widget(form.subject,{'attr':{'class': 'ht-input'}})}}
            </div>
            <div class="mt-2">
                {{ form_label(form.message)}}
                {{ form_widget(form.message,{'attr':{'class': 'ht-input', 'rows': '8'}})}}
            </div>
            <div class="mt-2">
                <button type="submit" class="btn btn-primary w-100">Send Message</button>
            </div>
            {{ form_end(form) }}
        </div>
        <div class="col-md-6 bg-orange">
            <img src="{{ asset("/images/image-static/contact-us.png")}}" class="img-fluid">
        </div>
    </div>
</div>
<div class="container-xxl mt-5">
    <div class="row text-center">
        <div class="col-md-3">
            <div class="border border-dark p-3">
                <i class="fa-solid fa-phone fa-2x"></i>
                <h5 class="text-orange mt-2"><b>Contact us at</b></h5>
                <b>+975-77700226</b>
            </div>
        </div>
        <div class="col-md-3">
            <div class="border border-dark p-3">
                <i class="fa-regular fa-envelope fa-2x"></i>
                <h5 class="text-orange mt-2"><b>Email us at</b></h5>
                <b>info@www.visithappytrip.com</b>
            </div>
        </div>
        <div class="col-md-3">
            <div class="border border-dark p-3">
                <i class="fa-solid fa-globe fa-2x"></i>
                <h5 class="text-orange mt-2"><b>Visit us at</b></h5>
                <b>www.visithappytrip.com</b>
            </div>
        </div>
        <div class="col-md-3">
            <div class="border border-dark p-3">
                <i class="fa-solid fa-location-dot fa-2x"></i>
                <h5 class="text-orange mt-2"><b>Location</b></h5>
                <b>RTC Junction, Babesa, Thimphu</b>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{% endblock %}