{% extends "base.html.twig" %}
{% block stylesheets %}
<style>
    #travel-visa-img {
        background-image: url('{{ asset("/images/image-static/airlines.jpg")}}');
        height: 450px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        width: 100%;
        position: relative;
    }

    #travel-visa-header {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        height: 100%;
        width: 100%;
    }

    #travel-visa-header div div h2 {
        color: white;
    }

    .travel-and-visa {
        background-image: url('{{ asset("/images/image-static/paro-airport-bhutan-interior.jpg")}}');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    @media (max-width: 414px) {
        #travel-visa-img {
            height: 150px;
            background-attachment: scroll;
        }
    }
</style>
{% endblock %}
{% block body %}
<div id="travel-visa-img">
    <div id="travel-visa-header">
        <div class="d-flex align-items-center h-100">
            <div class="container">
                <h2 class="d-inline-flex text-white text-shadow-orange"><b>TRAVEL & VISA</b></h2>
                <nav aria-label="breadcrumb" class="mt-3">
                    <ol class="breadcrumb bg-orange d-inline-flex ps-1 pe-3">
                        <li class="breadcrumb-item"><a href="/" class="text-white">Home</a></li>
                        <li class="breadcrumb-item"><a class="text-white">Travel & Visa</a></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="card bg-grey">
        <div class="card-body">
            <p class="text-center">
                Obtaining a visa to visit Bhutan is easier than you think. Did you know that it is the least you have to
                worry about to enter Bhutan? We will get it done on your behalf. Once you have finalized your trip and
                payment has been made, we will process your visa with the government. Visitors must have a visa prior to
                arriving in the kingdom. No foreign mission or embassy abroad grants Bhutan tourist visas. Should you
                wish
                to extend your stay in the country beyond your pre-planned duration, Bridge To Bhutan will help
                facilitate
                and guarantee your stay extension.
            </p>
        </div>
    </div>
</div>
<div class="mt-5 travel-and-visa">
    <div style="background-color: rgba(255, 69, 0, 0.6);">
        <div class="container text-white pt-5 pb-5" style="z-index: 1;">
            <div class="card" style="background-color: rgba(0, 0, 0, 0.6) !important;">
                <div class="card-body text-white">
                    <ul>
                        <li>All information required in the Visa Application form must reach us at least three weeks
                            before the intended arrival date to enable processing with the concerned authorities.</li>
                        <li>Alternatively, a copy of visa application form can be filled out by tourists and
                            mailed/faxed/e-mailed to us.</li>
                        <li>The actual visa is stamped on arrival in Bhutan but it must be cleared in advance and a visa
                            clearance number issued.</li>
                        <li>For all travelers entering Bhutan by Drukair, the visa clearance is forwarded to the
                            concerned overseas Drukair stations. Without a visa clearance number, passengers are not
                            allowed to board the flight.</li>
                        <li>Visa fee is US $40 per person for a 14 day visa which can be further extended without
                            additional fees.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="card bg-grey">
        <div class="card-body text-center">
            <h4>VISA NOTE</h4>
            <p>
                Please use your full name exactly as it appears on your passport. Regardless of your name change, it is
                absolutely imperative that your Drukair ticket have the same name as your passport and your visa! We
                must use your complete passport name to process your visa and to book your tickets with Drukair.</p>
        </div>
    </div>
    <div class="accordion mt-5" id="accordionExample">
        {% for travelVisa in travelVisas %}
        <div class="accordion" id="travel-visa-{{ loop.index }}">
            <div class="accordion-item rounded-0">
                <h2 class="accordion-header" id="heading-{{ loop.index }}">
                    <button data-mdb-collapse-init class="accordion-button text-orange" type="button"
                        data-mdb-target="#collapse-{{ loop.index }}" aria-expanded="true"
                        aria-controls="collapse-{{ loop.index }}">
                        <b>{{ travelVisa.travelInfoTitle }}</b>
                    </button>
                </h2>
                <div id="collapse-{{ loop.index }}" class="accordion-collapse collapse"
                    aria-labelledby="heading-{{ loop.index }}" data-mdb-parent="#travel_visa">
                    <div class="accordion-body">
                        {{ travelVisa.travelInfoDescription|raw }}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block javascripts %}
{% endblock %}