{% extends "base.html.twig" %}
{% block stylesheets %}
<link href="{{ asset('/css/swiffy-slider.min.css')}}" rel="stylesheet" />
<style>
    #tour-view-img {
        background-image: url('{{ asset("/uploads/images/"~ tour_packages.images[0].imageName)}}');
        height: 450px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        width: 100%;
        position: relative;
    }

    #tour-view-header {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        height: 100%;
        width: 100%;
    }

    #tour-view-header div div h2 {
        color: white;
    }

    @media (max-width: 414px) {
        #tour-view-img {
            height: 150px;
        }
    }
</style>
{% endblock %}
{% block body %}
<div id="tour-view-img">
    <div id="tour-view-header">
        <div class="d-flex align-items-center  h-100">
            <div class="container">
                <h2 class="d-inline-flex text-warning text-white text-shadow-orange"><b>{{ tour_packages.tourTitle|upper }}</b></h2>
                <nav aria-label="breadcrumb" class="mt-3">
                    <ol class="breadcrumb bg-orange d-inline-flex ps-1 pe-3">
                        <li class="breadcrumb-item"><a class="text-white">Home</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('tour-package',{'slug': tour_packages.tourCategory })}}" class="text-white">{{ tour_packages.tourCategory|tour_category }}</a></li>
                        <li class="breadcrumb-item"><a class="text-white">{{ tour_packages.tourTitle }}</a></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-9">
            <div class="swiffy-slider slider-item-show3 slider-nav-sm slider-nav-page slider-item-snapstart slider-item-nogap slider-nav-round slider-nav-dark slider-indicators-sm slider-indicators-outside slider-indicators-round slider-indicators-dark slider-nav-animation slider-nav-animation-slideup slider-item-last-visible slider-nav-autoplay slider-nav-autopause"
                data-slider-nav-autoplay-interval="1000">
                <div class="slider-container">
                    {% for image in tour_packages.images %}
                    <img src="{{ asset('uploads/images/'~ image.imageName) | imagine_filter('thumbnail_tour_view')}}"
                        class="img-fluid" />
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mt-3">
                    <div class="bg-tour-over-view">
                        <span id="tour_overview"><i class="fa-regular fa-eye"></i> Tour Overview</span>
                    </div>
                </div>
                <div class="col-md-4 mt-3">
                    <div class="bg-tour-over-view">
                        <span id="itinerary"><i class="fa-solid fa-route"></i> Itinerary</span>
                    </div>
                </div>
                <div class="col-md-4 mt-3">
                    <div class="bg-tour-over-view">
                        <span id="policy"><i class="fa-solid fa-circle-info"></i> Payment & Cancellation Policy</span>
                    </div>
                </div>
            </div>
            <div class="mt-5">
                <div id="tour_overview_wrapper">
                    {{ tour_packages.tourOverview | raw }}
                </div>
                <div class="accordion" id="itinerary_wrapper">
                    {% for item in tour_packages.itinerary %}
                    <div class="accordion-item rounded-0">
                        <h2 class="accordion-header" id="heading_{{loop.index}}">
                            <button data-mdb-collapse-init class="accordion-button" type="button"
                                data-mdb-target="#itinerary_{{loop.index}}" aria-expanded="false"
                                aria-controls="itinerary_{{loop.index}}">
                                <b>Day {{loop.index}} : {{ item.title }}</b>
                            </button>
                        </h2>
                        <div id="itinerary_{{loop.index}}" class="accordion-collapse collapse"
                            aria-labelledby="heading_{{loop.index}}" data-mdb-parent="#itinerary_wrapper"
                            style="z-index: 0;"
                            >
                            <div class="accordion-body">
                                {{ item.itineraryDescription|raw }}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="mt-3" id="policy_wrapper">
                <h4 class="text-orange"><b>Payment & Cancellation Policy</b></h4>
                <h5><b>Payment Terms</b></h5>
                <ul>
                    <li>The approval of tourists VISA is contingent on the full payment of the tour</li>
                    <li>Flight ticket payment is subject to the Ticketing Time Limit issued by the airlines</li>
                </ul>
                <h5><b>Tour Cancellation and Refund Policy</b></h5>
                <ul>
                    <li>30 to 15 days prior to arrival – 20% of the total tour cost will be levied as cancellation fee
                    </li>
                    <li>14 to 7 days prior to arrival – 50% of the tour cost will be levied as cancellation fee</li>
                    <li>Less than a week prior to arrival – 100% cancellation charge will be levied as cancellation fee
                    </li>
                </ul>
                <h5><b>Flight Ticket Cancellation and Refund Policy</b></h5>
                <ul>
                    <li>Subject to the cancellation terms of the Airline</li>
                </ul>
                <h5><b>Rescheduling Tour Dates:</b></h5>
                <ul>
                    <li>There are no charges for rescheduling your trip. However the minimum daily tariff, hotel rates,
                        airline charges are subject to change depending on your new travelling dates.</li>
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <div class="bg-orange ps-2 pe-2 pt-3 pb-3">
                <div class="text-center text-white">
                    <h5>STARTING FROM</h5>
                    <b>
                        <h2>$ {{ tour_packages.price}}</h2>
                    </b>
                    <h5>PER PERSON</h5>
                </div>
                {{ render(controller(
                'App\\Controller\\SendmailController::contact'
                )) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="{{ asset('/js/swiffy-slider.min.js')}}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{{ asset('/js/contact.js')}}"></script>
<script src="{{ asset('/js/view-tours-scroll.js')}}"></script>
{% endblock %}