<!-- Facebook -->
<a class="btn text-white" target="_blank" data-mdb-ripple-init style="background-color: #3b5998;"
    href="https://www.facebook.com/sharer/sharer.php?u={{ blog_url }}"  role="button">
    <i class="fab fa-facebook-f"></i>
</a>

<!-- Twitter -->
<a class="btn text-white" data-mdb-ripple-init style="background-color: #000;"
    href="https://twitter.com/intent/tweet?url={{ blog_url }}&text={{ blog.blogTitle }}" role="button">
    <i class="fa-brands fa-x-twitter"></i>
</a>

<!-- Linkedin -->
<a class="btn text-white" data-mdb-ripple-init style="background-color: #0082ca;"
    href="https://www.linkedin.com/shareArticle?mini=true&url={{ blog_url }}&title={{ blog.blogTitle }}"
    role="button">
    <i class="fab fa-linkedin-in"></i>
</a>

<!-- Whatsapp -->
<a class="btn text-white" data-mdb-ripple-init style="background-color: #25d366;"
    href="https://api.whatsapp.com/send?text={{ blog_url }}" role="button">
    <i class="fab fa-whatsapp"></i>
</a>