<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Visit Happy Trip &#8211; Happiness Matters{% endblock %}</title>
    <meta name="description"
        content="Visit Happy Trip is a one-stop solution for all your travel needs. Book flights, hotels, and holiday packages at affordable prices. Explore our wide range of destinations and create unforgettable memories.">
    <meta name="keywords"
        content="travel, travel agency, flights, hotels, holiday packages, tours, vacation, deals, discounts, booking, online booking">
    {% block meta_property %}
    {% endblock %}
    <link rel="icon" href="{{ asset('images/favicon/favicon.jpg')}}">
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <!-- MDB -->
    {#
    <link href="https://cdn.jsdelivr.net/npm/mdb-ui-kit@8.0.0/css/mdb.min.css" rel="stylesheet" /> #}
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="{{ asset('/css/mdb.min.css')}}" rel="stylesheet" />
    <link href="{{ asset('/css/style.css')}}" rel="stylesheet" />
    {% block stylesheets %}
    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg fixed-top bg-white" style="z-index: 2;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="{{ asset('/images/logos/logo.jpg')}}" class="logo">
            </a>
            <button data-mdb-collapse-init class="navbar-toggler" type="button"
                data-mdb-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item ms-2">
                        <a class="nav-link home-menu-link {% if (app.request.get('_route') == 'app_main')%} home-menu-link-active {% endif %}"
                            aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item ms-2">
                        <a class="nav-link home-menu-link {% if (app.request.get('_route') == 'about-us')%} home-menu-link-active {% endif %}"
                            href="/about-us">About us</a>
                    </li>
                    <li class="nav-item ms-2">
                        <a class="nav-link home-menu-link {% if (app.request.get('_route') == 'about-bhutan')%} home-menu-link-active {% endif %}"
                            href="/about-bhutan">About Bhutan</a>
                    </li>
                    <li class="nav-item menu-dropdown ms-2">
                        <a href="/tour-packages"
                            class="nav-link home-menu-link {% if (app.request.get('_route') == 'tour-package')%} home-menu-link-active {% endif %}">Tour
                            Packages <i class="fa-solid fa-caret-down "></i></a>
                        <div class="dropdown-content">
                            {{ render(controller('App\\Controller\\MainController::_tourCategories',
                            {'packages_route': app.request.get('_route_params') ??
                            app.request.get('_route_params')['slug'] })) }}
                        </div>
                    </li>
                    <li class="nav-item menu-dropdown ms-2">
                        {% set travel_info_routes = ['faqs-and-raqs', 'travel-and-visa']%}
                        <a
                            class="nav-link home-menu-link {% if (app.request.get('_route') in travel_info_routes)%} home-menu-link-active {% endif %}">Travel
                            Info <i class="fa-solid fa-caret-down"></i></a>
                        <div class="dropdown-content">
                            <a href="/travel-and-visa"
                                class="nav-link home-menu-link {% if (app.request.get('_route') == 'travel-and-visa')%} home-menu-link-active {% endif %}">Travel
                                & Visa</a>
                            <a href="/faqs-and-raqs"
                                class="nav-link home-menu-link {% if (app.request.get('_route') == 'faqs-and-raqs')%} home-menu-link-active {% endif %}">Faq's/Raq's</a>
                        </div>
                    </li>
                    <li class="nav-item ms-2">
                        <a class="nav-link home-menu-link {% if (app.request.get('_route') == 'hotels-in-bhutan-front')%} home-menu-link-active {% endif %}"
                            href="/hotels-in-bhutan">Hotels</a>
                    </li>
                    <li class="nav-item ms-2">
                        <a class="nav-link home-menu-link {% if (app.request.get('_route') == 'blog')%} home-menu-link-active {% endif %}"
                            href="/blogs">Blog</a>
                    </li>
                    <li class="nav-item ms-2">
                        <a class="nav-link home-menu-link {% if (app.request.get('_route') == 'contact-us')%} home-menu-link-active {% endif %}"
                            href="/contact-us">Contact us</a>
                    </li>
                    <li class="nav-item ms-2">
                        <a href="/book-now" target="_blank"
                            class="nav-link rounded-2 btn-orange text-white pt-2 pb-2 ps-3 pe-3">Book Now</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div style="margin-top: 105px;">
        {% block body %}{% endblock %}
        <div class="container mt-5 text-center">
            <h4>WE ARE ASSOCIATED WITH</h4>
            <div class="row justify-content-center mt-4">
                <div class="col-6 border-top border-dark">
                </div>
                <div class="mt-4 associated-logo">
                    <a href="">
                        <img src="{{ asset('/images/logos/ABTO-01.jpg')}}" height="100" class="associated-brand-logo">
                    </a>
                    <a href="">
                        <img src="{{ asset('/images/logos/Department-of-Tourism-01.jpg')}}" height="100"
                            class="associated-brand-logo">
                    </a>
                    <a href="">
                        <img src="{{ asset('/images/logos/DrukAir-01.jpg')}}" height="100"
                            class="associated-brand-logo">
                    </a>
                    <a href="">
                        <img src="{{ asset('/images/logos/GAB-01.jpg')}}" height="100" class="associated-brand-logo">
                    </a>
                    <a href="">
                        <img src="{{ asset('/images/logos/TashiAir-01.jpg')}}" height="100"
                            class="associated-brand-logo">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <footer class="text-lg-start mt-4 text-white" style="background-color: #18153F;">
        <section class="d-flex justify-content-center justify-content-lg-between container-xxl pt-4 pb-4 border-bottom">
            <div class="me-5 d-none d-lg-block">
                <span>Get connected with us on social networks:</span>
            </div>
            <div>
                <a href="https://www.facebook.com/visithappytrip/" target="_blank" class="me-4 text-reset">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-google"></i>
                </a>
                <a href="https://www.instagram.com/visithappytrip/" target="_blank" class="me-4 text-reset">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </section>
        <section class="container-xxl">
            <div class="text-md-start mt-5">
                <div class="row mt-3">
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">VisitHappyTrip
                        </h6>
                        <p class="justify-text">
                            We offer customized accommodation solutions, catering to diverse customer preferences,
                            ranging from 3-star to 5-star hotels, ensuring an exceptional stay experience marked by
                            outstanding hospitality and tailored to meet individual needs.
                        </p>
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">
                            Quick Links
                        </h6>
                        <p>
                            <a href="/" class="text-reset home-menu-link"><i class="fa-solid fa-caret-right"></i>
                                Home</a>
                        </p>
                        <p>
                            <a href="/about-us" class="text-reset home-menu-link"><i
                                    class="fa-solid fa-caret-right"></i> About us</a>
                        </p>
                        <p>
                            <a href="/about-bhutan" class="text-reset home-menu-link"><i
                                    class="fa-solid fa-caret-right"></i> About
                                Bhutan</a>
                        </p>
                        {# <p>
                            <a href="#!" class="text-reset"><i class="fa-solid fa-caret-right"></i> Tour Packages</a>
                        </p> #}
                        <p>
                            <a href="/trip-planner" class="text-reset home-menu-link"><i
                                    class="fa-solid fa-caret-right"></i> Trip
                                Planner</a>
                        </p>
                        <p>
                            <a href="/contact-us" class="text-reset home-menu-link"><i
                                    class="fa-solid fa-caret-right"></i> Contact
                                us</a>
                        </p>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-3 mx-auto mb-4 footer-contact-info">
                        <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                        <p><i class="fas fa-home me-3"></i> Thimphu : Bhutan</p>
                        <p>
                            <a href="mailto:info@visithappytrip.com" class="text-white">
                                <i class="fas fa-envelope me-3"></i>
                                info@visithappytrip.com</a>
                        </p>
                        <p>
                            <a href="tel:+975-77700226" class="text-white">
                                <i class="fas fa-phone me-3"></i> +975-77700226
                            </a>
                        </p>
                        <p><i class="fa-solid fa-globe me-3"></i> www.visithappytrip.com</p>
                    </div>
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 social-icon">
                        <h6 class="text-uppercase fw-bold mb-4">
                            Follow Us
                        </h6>
                        <a class="me-4 text-reset" href="https://www.facebook.com/visithappytrip/" target="_blank">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="me-4 text-reset">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="me-4 text-reset">
                            <i class="fab fa-google"></i>
                        </a>
                        <a class="me-4 text-reset" href="https://www.instagram.com/visithappytrip/" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>

                        <h6 class="text-uppercase fw-bold mb-4 mt-4">
                            Tentative Festival Dates
                        </h6>
                        <a href="{{ asset('files/pdf/festival-date-final-2025.pdf')}}" target="_blank"
                            class="p-2 btn-orange text-white rounded-1">Tentative Festival Date {{ "now"|date("Y") }} <i
                                class="fa-solid fa-caret-right"></i></a>
                        <div id="google_translate_element" class="mt-3"></div>
                    </div>
                </div>
            </div>
        </section>
        <div class="text-center p-4 border-top" style="background-color: rgba(0, 0, 0, 0.05);">
            © Copyright {{ "now"|date("Y") }}. Visit Happy Trip All Rights Reserved. | Website Designed and Developed by
            <a href="https://www.druktechsolutions.com/" target="_blank" class="text-orange">Druk Tech Solutions</a>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="{{ asset('/js/mdb.umd.min.js')}}"></script>
    <script src="{{ asset('/js/main.js')}}"></script>
    <script>
        AOS.init();
    </script>
    {% block javascripts %}
    {% endblock %}
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
        }
    </script>

    <script type="text/javascript"
        src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</body>

</html>